
<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Nueva Ubicacion</h3>
    </div>
    <div class="card-body">
        <form action="/mapa/new-ubication" method="POST">
            <div class="form-group">
                <input onclick="getLocation()" type="text" name="name" class="form-control" placeholder="Ingresa el nombre de la Ubicacion" >
            </div>
            <div class="form-group">
                <textarea  name="description" class="form-control" placeholder="Ingresa una descripcion de la Ubicacion" ></textarea>
            </div>
            <div class="form-group">
                <input type="text"  id="loc" value="" name="location" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" >Guardar</button>
            </div>
            
        </form>
    </div>
</div>
</div>

<script>
   input =  document.getElementById("loc")
   function getLocation(){
       navigator.geolocation.getCurrentPosition(showPosition);
   }
   
   function showPosition(loc){
       input.value = [loc.coords.latitude,loc.coords.longitude]
   }
</script>