body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  #title1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #map-template {
    position: sticky;
    top: 20px;
    height: 500px;
    width: 500px;
  }
  
  #con-button {
    text-align: center;
    margin-top: 50px;
  }

  #card-location {
    margin-top: 10px;
  }

  .logo {
    width: 50%;
  }

  #nameTitle {
    color: aliceblue;
    text-align: center; 
  }